<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="chatForm">
      <input id="msg" name="msg" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        window.addEventListener( "load", function () {
            var socket = io('//127.0.0.1:3000');

            socket.on('chat message', function(msg) {
                let node = document.createElement("LI");    
                node.innerHTML = msg.body;
                document.getElementById("messages").appendChild(node);

                window.scrollTo(0, document.body.scrollHeight);
            });
        
            function sendData() {
                const XHR = new XMLHttpRequest();

                const FD = new FormData(form);

                XHR.addEventListener("load", function(event) {
                    console.log(event.target.responseText);
                });

                XHR.addEventListener("error", function(event) {
                    console.log('Oops! Something went wrong.');
                });

                XHR.open("POST", "//127.0.0.1:8000/emit");
                XHR.setRequestHeader("X-Requested-With", "xmlhttprequest");
                XHR.send(FD);
            }
            
            let form = document.getElementById("chatForm");
        
            form.addEventListener("submit", function (event) {
                event.preventDefault();
                sendData();
            });
        });
    </script>
  </body>
</html>